
.main-navbar{
  border-bottom: 1px solid #ccc;
}
.main-navbar .top-navbar{
  /* background-color: #2874f0; */
  background-color: grey;

  padding-top: 10px;
  padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name{
  color: #fff;
}
.main-navbar .top-navbar .nav-link{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
  padding: 0px 0px;
  border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
  width: 20px;
  text-align: center;
  color: #2874f0;
  font-size: 14px;
}
.main-navbar .navbar{
  padding: 0px;
  background-color: #ddd;
}
.main-navbar .navbar .nav-item .nav-link{
  padding: 8px 20px;
  color: #000;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link{
      font-size: 12px;
      padding: 8px 10px;
  }
}

/* .nav_container {
    background-color: black;
    justify-content: space-evenly;
    display :flex;
    width: 100%; 
    padding: 1rem; 
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .nav_logo{
    font-family: 'Seaweed Script', cursive;
    font-size: 2vw;
    color: white;
  }
  
  .nav_items{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
  }
  
  
  .nav_btn{
    display: flex;
    gap: 2vw;
  }
  
.nav_items div,
.nav_btn div {
    color: white;
    white-space: nowrap;
}

  @media screen and (max-width: 425px) {
    .nav_items{
      display: flex;
      gap: 10px;
      font-size:x-small;
      justify-content: space-between
    }
    
    .nav_container {
      padding: 2vh; 
  
    }
    .nav_logo,
    .nav_items div,
    .nav_btn div {
    font-size:x-small
}
.nav_btn{
  display: flex;
  gap:10px;
}

  }



  @media screen and (min-width: 1440px) {
    .nav_items{
      display: flex;
      gap: 3vmax;
      justify-content: space-between;
    }
    
    .nav_container {
      background-color: black;
      justify-content: space-evenly;
      display :flex;
      width: 100%; 
      padding: 1rem; 
    }

    .nav_logo{
      font-weight: 100;
    }
    .nav_items,
    .nav_btn  {
      font-size: 1.5vw;
}
.nav_btn{
  display: flex;
  gap:10px;
}
   
.nav_btn{
  display: flex;
  gap: 50px;
}
  }
  
   */